<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='icon' href='/img/param.png'>
    </head>
    <body>
        <div class='content'>
          {{>header}}
          <p>You're definitevely lost to be here</p>
        </div>

        {{>footer}}
    </body>
</html>